<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div style="display: flex;justify-content: space-around;align-items: center;">
                    <div>
                        <input type="email" class="form-control" id="emailLogin" placeholder="Enter email">
                    </div>
                    <div>
                        <input type="password" class="form-control" id="passwordLogin" placeholder="Password">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="rememberLogin">
                        <label class="form-check-label" for="rememberLogin">
                            Remember me
                        </label>
                      </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Sign In</button>
            </div>
        </div>
    </div>
</div>