<div class="modal fade" id="reserveModal" tabindex="-1" aria-labelledby="reserveModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reserveModalLabel">Reserve a Table</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-4">
                            <p>Number of Guests</p>
                        </div>
                        <div class="col-8">
                            <input class="form-check-input" type="radio" name="numberGuests" id="1" value="option1" checked>
                            <label class="form-check-label" for="1">1</label>
    
                            <input class="form-check-input" type="radio" name="numberGuests" id="2" value="option2">
                            <label class="form-check-label" for="2">2</label>
                            
                            <input class="form-check-input" type="radio" name="numberGuests" id="3" value="option3">
                            <label class="form-check-label" for="3">3</label>
                            
                            <input class="form-check-input" type="radio" name="numberGuests" id="4" value="option4">
                            <label class="form-check-label" for="4">4</label>
                            
                            <input class="form-check-input" type="radio" name="numberGuests" id="5" value="option5">
                            <label class="form-check-label" for="5">5</label>
                            
                            <input class="form-check-input" type="radio" name="numberGuests" id="6" value="option6">
                            <label class="form-check-label" for="6">6</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col 4">
                            <p>Section</p>
                        </div>
                        <div class="col-8">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-success">Non-Smoking</button>
                                <button type="button" class="btn btn-danger">Smoking</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <p>Date and Time</p>
                        </div>
                        <div class="col-4">
                            <label for="inputDate" class="form-label"></label>
                            <input type="date" class="form-control" id="inputDate">
                        </div>
                        <div class="col-4">
                            <label for="inputTime" class="form-label"></label>
                            <input type="time" class="form-control" id="inputTime">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Reserve</button>
            </div>
        </div>
    </div>
</div>