<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', { page: 'Ristorante con Fusion: About' }) %>

<body>

    <%- include('./partials/navbar') %>
    <%- include('./partials/header') %>

    <div class="container py-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="ceo-tab" data-bs-toggle="tab" data-bs-target="#ceo" type="button" role="tab" aria-controls="ceo" aria-selected="true">Peter Pan, CEO</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="cfo-tab" data-bs-toggle="tab" data-bs-target="#cfo" type="button" role="tab" aria-controls="cfo" aria-selected="false">Danny Witherspoon, CFO</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="cto-tab" data-bs-toggle="tab" data-bs-target="#cto" type="button" role="tab" aria-controls="cto" aria-selected="false">Agumbe Tang, CTO</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="chef-tab" data-bs-toggle="tab" data-bs-target="#chef" type="button" role="tab" aria-controls="chef" aria-selected="false">Alberto Somayya, Exec. Chef</button>
            </li>
        </ul>
        <div class="tab-content m-4" id="myTabContent">
            <div class="tab-pane fade show active" id="ceo" role="tabpanel" aria-labelledby="ceo-tab">
                <h3>Peter Pan <small>Chief Epicurious Officer</small></h3>
                <p>Our CEO, Peter, credits his hardworking East Asian immigrant parents who undertook the arduous journey to the shores of America with the intention of giving their children the best future. His mother's wizardy in the kitchen whipping up the tastiest dishes with whatever is available inexpensively at the supermarket, was his first inspiration to create the fusion cuisines for which <em>The Frying Pan</em> became well known. He brings his zeal for fusion cuisines to this restaurant, pioneering cross-cultural culinary connections.</p>
            </div>
            <div class="tab-pane fade" id="cfo" role="tabpanel" aria-labelledby="cfo-tab">
                <h3>Dhanasekaran Witherspoon <small>Chief Food Officer</small></h3>
                <p>Our CFO, Danny, as he is affectionately referred to by his colleagues, comes from a long established family tradition in farming and produce. His experiences growing up on a farm in the Australian outback gave him great appreciation for varieties of food sources. As he puts it in his own words, <em>Everything that runs, wins, and everything that stays, pays!</em></p>
            </div>
            <div class="tab-pane fade" id="cto" role="tabpanel" aria-labelledby="cto-tab">
                <h3>Agumbe Tang <small>Chief Taste Officer</small></h3>
                <p>Blessed with the most discerning gustatory sense, Agumbe, our CTO, personally ensures that every dish that we serve meets his exacting tastes. Our chefs dread the tongue lashing that ensues if their dish does not meet his exacting standards. He lives by his motto, <em>You click only if you survive my lick.</em></p>
            </div>
            <div class="tab-pane fade" id="chef" role="tabpanel" aria-labelledby="chef-tab">
                <h3>Alberto Somayya <small>Executive Chef</small></h3>
                <p>Award winning three-star Michelin chef with wide International experience having worked closely with whos-who in the culinary world, he specializes in creating mouthwatering Indo-Italian fusion experiences. He says, <em>Put together the cuisines from the two craziest cultures, and you get a winning hit! Amma Mia!</em></p>
            </div>
        </div>

    </div>

    <%- include('./partials/footer') %>
    
</body>

</html>
