.jumbotron {
    color: white;
    background-color: #9477CB;
}

.footer {
    background-color: #D0C5E9;
}

.link {
    text-decoration: none;
}

.address {
    font-size: 12px;
}

.network {
    display: flex;
    justify-content: space-between;
}

.format {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar */

.navbar {
    background-color: #5033A4;
}

.nav-link {
    color: white !important;
    opacity: 0.5;
}

.nav-link:hover {
    opacity: 1;
}

.navbar-logo {
    height: 30px;
}

/* Home */

.home-content-img {
    height: 120;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding: 5px
}

.home-content-title {
    font-weight: bold;
}

.home-content-extra {
    font-weight: bold;
    font-size: 2em;
}

.home-table-title {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.home-form {
    border: 1px solid;
}

/* Footer */

.footer-network-icon {
    font-size: 2em;
}