<footer class="footer py-3">
    <div class="container">
        <div class="row">             
            <div class="col-4 offset-1 col-sm-2">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a class="link" href="#">Home</a></li>
                    <li><a class="link" href="#">About</a></li>
                    <li><a class="link" href="#">Menu</a></li>
                    <li><a class="link" href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-7 col-sm-5">
                <h5>Our Address</h5>
                <address class="address">
                    121, Clear Water Bay Road<br>
                    Clear Water Bay, Kowloon<br>
                    HONG KONG<br>
                    <i class="fas fa-phone"></i>: +852 1234 5678<br>
                    <i class="fas fa-fax"></i>: +852 8765 4321<br>
                    <i class="fas fa-envelope"></i>: <a class="link" href="mailto:confusion@food.net">confusion@food.net</a>
               </address>
            </div>
            <div class="col-12 col-sm-4 align-self-center network text-center">
                    <a class="link" href="http://google.com/+">
                        <i class="fab fa-google footer-network-icon"></i>
                    </a>
                    <a class="link" href="http://www.facebook.com/profile.php?id=">
                        <i class="fab fa-facebook-square footer-network-icon"></i>
                    </a>
                    <a class="link" href="http://www.linkedin.com/in/">
                        <i class="fab fa-linkedin footer-network-icon"></i>
                    </a>
                    <a class="link" href="http://twitter.com/">
                        <i class="fab fa-twitter-square footer-network-icon"></i>
                    </a>
                    <a class="link" href="http://youtube.com/">
                        <i class="fab fa-youtube footer-network-icon"></i>
                    </a>
                    <a class="link" href="mailto:">
                        <i class="fas fa-envelope footer-network-icon"></i>
                    </a>
            </div>
        </div>
        <div class="row justify-content-center">             
            <div class="col-auto">
                <p>© Copyright 2018 Ristorante Con Fusion</p>
            </div>
        </div>
    </div>
</footer>

<script src="./js/navbar.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>