<footer class="footer py-3">
    <div class="container">
        <div class="row">             
            <div class="col-4 offset-1 col-sm-2">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a class="link" href="#">Home</a></li>
                    <li><a class="link" href="#">About</a></li>
                    <li><a class="link" href="#">Menu</a></li>
                    <li><a class="link" href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-7 col-sm-5">
                <h5>Our Address</h5>
                <address class="address">
                    121, Clear Water Bay Road<br>
                    Clear Water Bay, Kowloon<br>
                    HONG KONG<br>
                    Tel.: +852 1234 5678<br>
                    Fax: +852 8765 4321<br>
                    Email: <a class="link" href="mailto:confusion@food.net">confusion@food.net</a>
               </address>
            </div>
            <div class="col-12 col-sm-4 align-self-center network">
                <div class="text-center">
                    <a class="link" href="http://google.com/+">Google+</a>
                    <a class="link" href="http://www.facebook.com/profile.php?id=">Facebook</a>
                    <a class="link" href="http://www.linkedin.com/in/">LinkedIn</a>
                    <a class="link" href="http://twitter.com/">Twitter</a>
                    <a class="link" href="http://youtube.com/">YouTube</a>
                    <a class="link" href="mailto:">Mail</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">             
            <div class="col-auto">
                <p>© Copyright 2018 Ristorante Con Fusion</p>
            </div>
        </div>
    </div>
</footer>