<%- include('../../components/modal/reserve') %>

<header class="jumbotron py-5">
    <div class="container">
        <div class="row row-header">
            <div class="col-lg-6 col-sm-12">
                <h1>Ristorante con Fusion</h1>
                <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations will tickle your culinary senses!</p>
            </div>
            <div class="col-lg-3 format">
                <img src="./img/logo.png" alt="logo">
            </div>
            <div class="col-lg-3 format">
                <button type="button" class="btn btn-warning btn-lg px-5" data-bs-toggle="modal" data-bs-target="#reserveModal">
                    Reserve a Table
                </button>
            </div>
        </div>
    </div>
</header>