<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="./">
            <img src="./img/logo.png" alt="logo" class="navbar-logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#opciones" aria-controls="opciones" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars" style="color:white;"></i>
        </button>
        <div class="collapse navbar-collapse" id="opciones">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-white" id="nav-option-home" href="./">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-white" id="nav-option-about" href="./about">
                        <i class="fas fa-info"></i> About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-white" id="nav-option-menu" href="#">
                        <i class="fas fa-bars"></i> Menu
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-white" id="nav-option-contact" href="#">
                        <i class="fas fa-id-card"></i> Contact
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/omar11011/front-end-web-ui-framworks-and-tools-bootstrap4" class="nav-link nav-link-white" target="_blank">
                        <i class="fab fa-github"></i> Repository
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>